
html{
    font-family: roboto;
    background-color: #bbdaca;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
header{
    height: 10%;
}
section{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials{
    border-radius:5px;
    padding-top: 0.3%;
    display: flex;
    justify-content: space-between;
}

.but-res-cv{
    display: flex;
    justify-content: space-around;
}


nav {
    width: 100%;
    margin: auto;
    margin-right: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.navBar-ele li {
    display: inline-block;
    margin: 0 15px;
    list-style: url(./Assets/arrow.png);
}

.navBar-ele li:hover{
    text-decoration: underline;
}

.list-ele {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0;
}
.navBar-ele{
    margin: 0;
}

.in-links{
    text-decoration: none;
}

.intro{
    display: flex;
    justify-content: space-around;
    width: 60%;
    /* margin: 50px auto; */
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.paragraph1{
  width: 60%;
}

.front-page{
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

#titlePort {
    color: #DAD7CD;
    text-decoration: underline;
    font-size: 50px;
}

.navBar-ele li a {
    color: #DAD7CD;
}
#resbut {
    font-size: 15spx;
    position: relative;
    margin-block: 30px;
    padding: 0.8em 2.5em 0.8em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}
#cvbut{
    font-size: 15spx;
    position: relative;
    margin-block: 30px;
    padding: 0.8em 3.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

#resbut:active,  #cvbut:active{
    transform: scale(0.95);
}

#resbut span, #cvbut span {
    color: #464646;
}

#resbut .border, #cvbut .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 9em;
    height: 3em;
    transform: translate(-50%, -50%);
}

#resbut:hover .border, #cvbut:hover .border {
    display: block;
    width: 9.9em;
    height: 3.7em;
    cursor: pointer;
}

.full-rounded {
    border-radius: 2em;
}

#pimg {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 45px;
}
    
#about-me{
    height: 100vh;
}

.about-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    width: 80%;
    margin: auto;
}

.socials a {
    text-decoration: none;
}

#about-title{
    text-align: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

#intro-para::first-letter{
    font-size: 20px
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;

}

.about-boxes{
    width: 30%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 20px;
}

.about-boxes p{
    font-size: 20px;
}

.about-boxes ul{
    font-size: 20px;
}

.about-titles{
    text-align: center;
    font-size: 30px;
    display: inline;
}

#about-title h1{
    font-size: 75px;
}

.education-title{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 40%;
    margin: auto;
}

.exp-title{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.skills-title{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: auto;
}


#edu-svg, #exp-svg, #skills-svg{
    display: flex;
    align-self: center;
}

footer{
    height: 50vh;
    width: 100%;
    background-color: black;
}
#contact-me{
    color: antiquewhite;
    width: 100%;
    text-align: center;
    font-size: 75px;
}

.form-elements{
    color: antiquewhite;
    margin-block: 7px;
}

.form-elements input, .form-elements textarea{
    background-color: #DAD7CD;
    border: 3px solid rgb(100, 100, 100);
    border-radius: 10px;
    font-size: 20px;
}
 #submit-form{
    font-size: 30px;
    padding: 8px 60px;
    background-color: rgb(1, 66, 1);
    color: #DAD7CD;
    border: 2px solid rgb(3, 155, 41);
    border-radius: 50px;
 }
 #submit-form:hover{
    cursor: pointer;
    background-color: rgb(3, 155, 41);
    transition: 100ms;
 }

 #submit-form:active{
    cursor: pointer;
    background-color:antiquewhite;
    color: rgb(3, 155, 41);
    font-size: 28px;
 }
